@import url(nullStyles.css); 
@import url(slick.css);

@font-face {
    font-family: "Evolventa";
    src: url("../fonts/Evolventa-Regular.woff") format('woff');
}
@font-face {
    font-family: "Evolventa Bold";
    src: url("../fonts/Evolventa-Bold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Evolventa Oblique";
    src: url("../fonts/Evolventa-Oblique.woff") format('woff');
    font-style: italic;
}
@font-face {
    font-family: "Evolventa Oblique Bold";
    src: url("../fonts/Evolventa-BoldOblique.woff") format('woff');
    font-style: italic;
    font-weight: bold;
}

/* Main styles */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn{
    background-color: #fb6933;
    color: #fff;
    border-radius: 30px;
    transition: all .3s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(206, 209, 24);
}

.btn-small{
    width: 170px;
    height: 40px;
    font-size: 14px;
}

.btn-medium{
    width: 230px;
    height: 50px;
    font-size: 18px;
}

.btn-mediumPlus{
    width: 340px;
    height: 60px;
    font-size: 18px;
}


.btn-big{
    width: 450px;
    height: 80px;
    border-radius: 50px;
    font-size: 22px;
}

.title{
    font-size: 32px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fb6933;
    width: 550px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-weight: bold;
}

.bold-text{
    font-family: "Evolventa Bold";
}

.orange{
    color: #fb6933;
}


/* Header styles */

.header{
    background: url('https://www.merdandoener.ch/wp-content/uploads/2020/09/Basliksiz-1.jpg');
    background-position: center;
}

.header__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 50px;
}

.header__logo{
    max-width: 200px;
}

.header__logo img{
    width: 100%;
}

.header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}

.menu__link{
    font-size: 19px;
    transition: all .3s ease;
}

.menu__link:not(:last-child){
    margin-right: 18px;
}

.menu__link:hover{
    color: #fb6933;
}

.menu__item{
    list-style: none;
}

.header__socials{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.header__socials a{
    transition: all .3s ease;
}

.header__socials a:hover{
    color: orange;
}

.header__socials a:first-child{
    margin-bottom: 3px;
}

/* Burger-menu styles */

.fa-solid{
    font-size: 30px;
}

.header__menu-burger{
    display: none;
}

.header__menu-slide{
    display: none;
    opacity: 0;
    background-color: rgb(197, 103, 103);
    padding: 20px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -250px;
    z-index: 500;
    transition: all 2s ease;
}

.header__slide-active{
    right: 0;
    display: block;
    opacity: 1;
    transition: all 2s ease;
}

.slide-xmark{
    float: right;
}

.slide__menu-nav{
    margin-top: 60px;
}


/* Reg styles */

.reg__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg__about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
}

.reg__text {

}

.reg__text h4{
    font-size: 22px;
    font-weight: 700;
    width: 600px;
    margin-bottom: 20px;
}

.reg__text ul{

}

.reg__text li{
    list-style:disc;
    margin-bottom: 10px;
    font-size: 18px;
}

.reg__image {
    width: 100%;
    margin-left: 50px;
}

.reg__image img{
    max-width: 400px;
}







/* Footer styles */

.footer {
    background-color: rgb(211, 211, 211);
}

.footer__row {
    padding: 3vmax 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.footer__column .footer__menu{
    margin-bottom: 50px;
}

.column__connected{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25vh;
}

.footer__navigation__column{
    margin-right: 80px;
}

.footer__navigation__column:last-child{
    margin-right: 140px;
}

.footer__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer__menu {
    list-style: none;
    line-height: 1.3;
    font-size: 17px;
}

.footer__link{
    transition: all .3s ease;
}

.footer__link:hover{
    color: orange;
}

.ul_list{
    list-style:disc;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.footer__map iframe{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}