@import url(nullStyles.css); 
@import url(slick.css);

@font-face {
    font-family: "Evolventa";
    src: url("../fonts/Evolventa-Regular.woff") format('woff');
}
@font-face {
    font-family: "Evolventa Bold";
    src: url("../fonts/Evolventa-Bold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Evolventa Oblique";
    src: url("../fonts/Evolventa-Oblique.woff") format('woff');
    font-style: italic;
}
@font-face {
    font-family: "Evolventa Oblique Bold";
    src: url("../fonts/Evolventa-BoldOblique.woff") format('woff');
    font-style: italic;
    font-weight: bold;
}

/* Main styles */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn{
    background-color: #fb6933;
    color: #fff;
    border-radius: 30px;
    transition: all .3s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(206, 209, 24);
}

.btn-small{
    width: 170px;
    height: 40px;
    font-size: 14px;
}

.btn-medium{
    width: 230px;
    height: 50px;
    font-size: 18px;
}

.btn-mediumPlus{
    width: 340px;
    height: 60px;
    font-size: 18px;
}


.btn-big{
    width: 450px;
    height: 80px;
    border-radius: 50px;
    font-size: 22px;
}

.title{
    font-size: 32px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fb6933;
    width: 550px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-weight: bold;
}

.bold-text{
    font-family: "Evolventa Bold";
}

.orange{
    color: #fb6933;
}


/* Header styles */

.header{
    background: url('https://www.merdandoener.ch/wp-content/uploads/2020/09/Basliksiz-1.jpg');
    background-position: center;
}

.header__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 50px;
}

.header__logo{
    max-width: 200px;
}

.header__logo img{
    width: 100%;
}

.header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}

.menu__link{
    font-size: 19px;
    transition: all .3s ease;
}

.menu__link:not(:last-child){
    margin-right: 18px;
}

.menu__link:hover{
    color: #fb6933;
}

.menu__item{
    list-style: none;
}

.header__socials{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.header__socials a{
    transition: all .3s ease;
}

.header__socials a:hover{
    color: orange;
}

.header__socials a:first-child{
    margin-bottom: 3px;
}

/* Burger-menu styles */

.fa-solid{
    font-size: 30px;
}

.header__menu-burger{
    display: none;
}

.header__menu-slide{
    display: none;
    opacity: 0;
    background-color: rgb(197, 103, 103);
    padding: 20px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -250px;
    z-index: 500;
    transition: all 2s ease;
}

.header__slide-active{
    right: 0;
    display: block;
    opacity: 1;
    transition: all 2s ease;
}

.slide-xmark{
    float: right;
}

.slide__menu-nav{
    margin-top: 60px;
}

/* Hero styles */


.hero__slider img{
    background-size: contain;
}

.hero__slider .slick-prev,
.hero__slider .slick-next,
.cars__slider .slick-next,
.cars__slider .slick-prev{
    position: absolute;
    z-index: 200;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
}

.hero__slider .slick-prev{
    left: 15px;
}

.hero__slider .slick-next{
    right: 15px;
}


/* Osago styles */

.osago__row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.osago__about{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.osago__image{
    border: 5px solid #fb6933;
    border-radius: 50%;
}

.osago__image img{
    max-width: 300px;
    border-radius: 50%;
}

.osago__text{
    font-size: 17px;
    margin-left: 40px;
    align-self: center;
}


/* Calculator styles */


.calc__row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3vmax 0;
}

.calc__lines{
    align-self: flex-start;
}

.calc__lines option,
.calc__driver option{
    color: #000;
}

.calc__line {
    margin-bottom: 10px;
}

.line__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.line__choose {
    font-size: 15px;
}

.line__choose input{
    margin-right: 5px;
}

.line__choose label{
    margin-right: 25px;
}

.checkbox__rounded {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: top;
    border: 1px solid rgb(0, 0, 0);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox__rounded:checked{
    background-color: #fb6933;
}

.calc__line-multy {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.calc__line-multy:last-child{
    margin-bottom: 30px;
}

.calc__line-multy select,
.multy__input {
    width: 200px;
    height: 27px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 16px;
    padding-left: 5px;
}

.calc__line-multy .checkbox__rounded {
    margin-bottom: 7px;
}

.multy__item:not(:last-child) {
    margin-right: 30px;
}

.multy__item-title {
    font-size: 18px;
    font-weight: 700;

}

.calc__driver {
    align-self: flex-start;
}
.driver__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}

.application__button{
    align-self: flex-start;
}

.long__line{
    display: none;
}




/* Footer styles */

.footer {
    background-color: rgb(211, 211, 211);
}

.footer__row {
    padding: 3vmax 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.footer__column .footer__menu{
    margin-bottom: 50px;
}

.column__connected{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.footer__navigation__column{
    margin-right: 80px;
}

.footer__navigation__column:last-child{
    margin-right: 140px;
}

.footer__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer__menu {
    list-style: none;
    line-height: 1.3;
    font-size: 17px;
}

.footer__link{
    transition: all .3s ease;
}

.footer__link:hover{
    color: orange;
}

.ul_list{
    list-style:disc;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.footer__map iframe{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.footer__button-2{
    display: none;
}


/* Modal window styles */


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
    max-width: 500px;
    margin: 200px auto;
}
.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    max-height: 80vh;
    overflow-y: auto;
}
.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}
.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}
.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto;
}

/* Adaptive styles */

@media only screen and (max-width : 1150px) {
    .header__menu{
        margin-left: 50px;
    }
    .menu__link,
    .header__socials a{
        font-size: 17px;
    }
    .footer__navigation__column:last-child{
        margin-right: 80px;
    }
}

@media only screen and (max-width : 1050px) {
    .footer__map iframe{
        width: 450px;
        height: 450px;
    }
}


@media only screen and (max-width : 1024px) {
    .header__menu{
        display: none;
    }
    .header__menu-burger{
        display: inline-block;
        margin-right: 10px;
    }
    .container{
        padding: 0 25px;
    }
    .header__socials{
        display: none;
    }
}

@media only screen and (max-width : 992px) {
    .footer__map iframe{
        width: 380px;
        height: 380px;
    }
    .footer__callback-button{
        display: none;
    }
    .footer__button-2{
        display: block;
        margin-top: 15px;
    }
    .footer__button-2 .footer__button{
        width: 380px;
    }
    .footer__about{
        align-items: center;
    }
    .footer__column{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .long__line{
        flex-direction: column;
    }
}

@media only screen and (max-width : 880px){
    .footer__navigation{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__navigation__column{
        margin-right: 0;
    }
    .footer__column .footer__menu{
        margin-bottom: 30px;
    }
    .footer__where__column{
        margin-right: 10px;
    }
}

@media only screen and (max-width : 768px) {
    .header__socials{
        font-size: 15px;
    }
    .header__logo img{
        width: 70%;
    }
    .title{
        width: 450px;
        font-size: 28px;
    }
    .calc__line-multy{
        flex-direction: column;
        align-items: center;
    }
    .multy__item{
        margin-bottom: 20px;
        margin-right: 0 !important;
    }
    .calc__lines{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .calc__line{
        margin-bottom: 20px;
    }
    .calc__driver{
        align-self: center;
    }
    .xl__line{
        display: none;
    }
    .long__line{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .application__button{
        align-self: center;
    }
    .item-fist{
        margin-bottom: 8px;
    }
}

@media only screen and (max-width : 680px){
    .footer__map iframe{
        width: 300px;
        height: 300px;
    }
    .footer__button-2 .footer__button{
        width: 260px;
        font-size: 18px;
        height: 70px;
    }
    .osago__about{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .osago__image{
        margin-bottom: 25px;
    }
    .osago__text{
        margin: 0;
    }
}

@media only screen and (max-width : 580px){
    .footer__about{
        flex-direction: column;
        text-align: center;
    }
    .footer__navigation{
        align-items: center;
    }
    .footer__column{
        align-items: center;
    }
    .footer__navigation__column:last-child{
        margin: 0;
    }
    .footer__map iframe{
        width: 380px;
        height: 380px;
    }
    .footer__button-2 .footer__button{
        width: 320px;
        font-size: 20px;
        height: 70px;
    }
}

@media only screen and (max-width : 480px) {
    .title{
        width: 370px;
        font-size: 22px;
        text-align: center;
    }
    .btn-medium{
        width: 205px;
        height: 40px;
        font-size: 17px;
    }
    .osago__image img{
        max-width: 230px;
    }
}

@media only screen and (max-width : 420px) {
    .title{
        width: 300px;
        font-size: 20px;
    }
    .footer__map iframe{
        width: 330px;
        height: 330px;
    }
    .footer__button-2 .footer__button{
        width: 290px;
        font-size: 18px;
        height: 70px;
    }
    .application__button{
        width: 300px;
        height: 55px;
    }
}

@media only screen and (max-width : 350px){
    .footer__map iframe{
        width: 280px;
        height: 320px;
    }
    .footer__button-2 .footer__button{
        width: 270px;
        font-size: 18px;
        height: 70px;
    }
    .title{
        font-size: 14px;
    }
    .application__button{
        width: 280px;
        height: 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width : 320px) {
    .title{
        width: 260px;
    }
    .btn-medium{
        width: 195px;
        height: 35px;
    }
}